<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Univwork 이메일 인증</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 15px; padding: 15px;">

<div style="max-width: 700px; max-height: 1000px; margin: 0; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333333; font-size: 22px; margin: 0 0 10px; text-align: center; text-decoration: none;">univwork 비밀번호 찾기</h1>
    <br>
    <p style="color: #555555; font-size: 16px; text-align: center;">버튼을 눌러 비밀번호를 변경해 주세요.<br>링크는 10분 이후에 만료됩니다.</p>
    <br>

    <div style="border: 1px solid #dddddd; padding: 20px; border-radius: 5px; background-color: #f9f9f9; text-align: center; margin-top: 20px;">
        <a th:href="${link}" style="display: inline-block; padding: 5px 20px; margin-bottom: 20px; background-color: #3498db; color: white; text-align: center; text-decoration: none; border-radius: 10px; cursor: pointer; transition: background-color 0.3s ease;"><h3>비밀번호 찾기</h3></a>

        <p>버튼이 동작하지 않는다면,<br>아래 링크를 클릭해 주세요.</p>
        <a th:href="${subLink}" th:text="${subLink}"></a>
    </div>
    <br/>
</div>
</body>
</html>
